<!DOCTYPE html>
    <html>
        <%- include ('./partials/head.ejs', {page: 'Edit songs'}) %>
        <%- include ('./partials/nav.ejs') %>
       
        <section class="selector">
            <form action="/songs/<%=song.id%>?_method=PUT" method="POST">
                <fieldset>
                    <legend>Edit song</legend>
                        <div class="form-group">
                          <label for="song-title">Song title</label>
                          <input type="text" placeholder ="Song title" id="title" value="<%= song.title%>"/>
                        </div>

                        <div class="form-group">
                          <label for="singer-name">Singer</label>
                          <input type="text" placeholder="singer" is="singer" value="<%= song.singer %>"/>
                        </div>

                        <div class="form-group">
                          <label for="song-image">Song image</label>
                          <input type="text" placeholder="song image" name="image" value="<%= song.image %> " />
                        </div>

                        <div class="form-group">
                          <label for="date">Date of release</label>
                          <input type="text" placeholder="date of release" name="date" value="<%= song.date %> " />
                        </div>

                        <div class="control">
                          <a class="button " href="/songs/<%= song.id %> ">Cancel</a>
                          <button class="btn btn-success" type="edit ">Edit song</button>
                        </div>
                </fieldset>
            </form>
        </section>
      </body>
    </html>
      