<!DOCTYPE html>
    <html lang="en">
        <%- include ('./partials/head.ejs', {page: 'All songs'}) %>
        <%- include ('./partials/nav.ejs') %>
    
            <div class="box"> 
                <main class="container-fluid">
                    <% for(let idx = 0; idx < songs.length; idx++){ %> <% const song =
                        songs[idx] %>
                            <div class="card " style="width: 50rem;" >
                                <img class="card-img-top" src="<%= song.image %>" alt="Card image cap"/>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <a href="/songs/<%= song._id %>"><%= song.title %> </a>
                                    </h3>
                                    <h5><%= song.singer %></h5>
                                    <p><%= song.date %></p>
                                </div>
                            </div>
                    <% } %>
                </main>
            </div>
    
        </body>
    </html>